In [2]:
import seaborn as sns
import pandas as pd

# Load the Penguins dataset from seaborn
penguins_df = sns.load_dataset('penguins')

1. Display the first 5 rows.

In [3]:
print("First 5 rows of the Penguins dataset:")
print(penguins_df.head())

First 5 rows of the Penguins dataset:
  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

2. Calculate the average 'bill_length_mm' for each species of penguins.

In [4]:
average_bill_length_by_species = penguins_df.groupby('species')['bill_length_mm'].mean()
print("\nAverage 'bill_length_mm' for each species of penguins:")
print(average_bill_length_by_species)

Average 'bill_length_mm' for each species of penguins:
species
Adelie       38.791391
Chinstrap    48.833824
Gentoo       47.504878
Name: bill_length_mm, dtype: float64

3. Find the penguin with the highest 'body_mass_g' and display its species and other information.

In [5]:
highest_body_mass_penguin = penguins_df.loc[penguins_df['body_mass_g'].idxmax()]
print("\nPenguin with the highest 'body_mass_g':")
print(highest_body_mass_penguin)

Penguin with the highest 'body_mass_g':
species              Gentoo
island               Biscoe
bill_length_mm         49.2
bill_depth_mm          15.2
flipper_length_mm     221.0
body_mass_g          6300.0
sex                    Male
Name: 237, dtype: object

4. Create a new DataFrame containing only the penguins with 'sex' as 'MALE' and 'island' as 'Torgersen'.

In [6]:
male_torgersen_penguins = penguins_df[(penguins_df['sex'] == 'MALE') & (penguins_df['island'] == 'Torgersen')]
print("\nDataFrame containing penguins with 'sex' as 'MALE' and 'island' as 'Torgersen':")
print(male_torgersen_penguins)

DataFrame containing penguins with 'sex' as 'MALE' and 'island' as 'Torgersen':
Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

5. Calculate the correlation matrix for 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', and 'body_mass_g'.

In [7]:
correlation_matrix = penguins_df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].corr()
print("\nCorrelation matrix:")
print(correlation_matrix)

Correlation matrix:
                   bill_length_mm  bill_depth_mm  flipper_length_mm  \
bill_length_mm           1.000000      -0.235053           0.656181
bill_depth_mm           -0.235053       1.000000          -0.583851
flipper_length_mm        0.656181      -0.583851           1.000000
body_mass_g              0.595110      -0.471916           0.871202

                   body_mass_g
bill_length_mm        0.595110
bill_depth_mm        -0.471916
flipper_length_mm     0.871202
body_mass_g           1.000000

6. For each species of penguins, find the mean, median, minimum, and maximum 'body_mass_g'.

In [8]:
species_body_mass_stats = penguins_df.groupby('species')['body_mass_g'].agg(['mean', 'median', 'min', 'max'])
print("\nBody mass statistics for each species of penguins:")
print(species_body_mass_stats)

Body mass statistics for each species of penguins:
                  mean  median     min     max
species
Adelie     3700.662252  3700.0  2850.0  4775.0
Chinstrap  3733.088235  3700.0  2700.0  4800.0
Gentoo     5076.016260  5000.0  3950.0  6300.0

7. Replace any missing values in the 'sex' column with the most frequent value in that column.

In [9]:
most_frequent_sex = penguins_df['sex'].mode().iloc[0]
penguins_df['sex'].fillna(most_frequent_sex, inplace=True)

8. Create a new column in the DataFrame called 'bill_area', which is the product of 'bill_length_mm' and 'bill_depth_mm'.

In [10]:
penguins_df['bill_area'] = penguins_df['bill_length_mm'] * penguins_df['bill_depth_mm']

9. Group the DataFrame by 'species' and calculate the average 'body_mass_g' and 'flipper_length_mm' for each species.

In [11]:
species_grouped_stats = penguins_df.groupby('species').agg({'body_mass_g': 'mean', 'flipper_length_mm': 'mean'})
print("\nAverage 'body_mass_g' and 'flipper_length_mm' for each species:")
print(species_grouped_stats)

Average 'body_mass_g' and 'flipper_length_mm' for each species:
           body_mass_g  flipper_length_mm
species
Adelie     3700.662252         189.953642
Chinstrap  3733.088235         195.823529
Gentoo     5076.016260         217.186992

10. Calculate the total count of penguins for each 'island' and 'sex' combination.

In [12]:
penguins_count_by_island_sex = penguins_df.groupby(['island', 'sex']).size().reset_index(name='count')
print("\nTotal count of penguins for each 'island' and 'sex' combination:")
print(penguins_count_by_island_sex)

Total count of penguins for each 'island' and 'sex' combination:
      island     sex  count
0     Biscoe  Female     80
1     Biscoe    Male     88
2      Dream  Female     61
3      Dream    Male     63
4  Torgersen  Female     24
5  Torgersen    Male     28