In [1]:
import seaborn as sns
import pandas as pd

# Load the Diamonds dataset from seaborn
diamonds_df = sns.load_dataset('diamonds')
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

1. Calculate the average price for each cut of diamonds.

In [2]:
average_price_by_cut = diamonds_df.groupby('cut')['price'].mean()
print("Average price for each cut of diamonds:")
print(average_price_by_cut)

Average price for each cut of diamonds:
cut
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Good         3928.864452
Fair         4358.757764
Name: price, dtype: float64

2. Find the diamond with the highest carat and display its details, including its cut, color, and clarity.

In [3]:
highest_carat_diamond = diamonds_df.loc[diamonds_df['carat'].idxmax()]
print("\nDiamond with the highest carat:")
print(highest_carat_diamond)

Diamond with the highest carat:
carat       5.01
cut         Fair
color          J
clarity       I1
depth       65.5
table       59.0
price      18018
x          10.74
y          10.54
z           6.98
Name: 27415, dtype: object

3. Create a new DataFrame containing only the diamonds with 'cut' as 'Ideal' and 'color' as 'D'.

In [4]:
ideal_d_color_diamonds = diamonds_df[(diamonds_df['cut'] == 'Ideal') & (diamonds_df['color'] == 'D')]
print("\nDataFrame containing diamonds with 'cut' as 'Ideal' and 'color' as 'D':")
print(ideal_d_color_diamonds)

DataFrame containing diamonds with 'cut' as 'Ideal' and 'color' as 'D':
       carat    cut color clarity  depth  table  price     x     y     z
62      0.30  Ideal     D     SI1   62.5   57.0    552  4.29  4.32  2.69
63      0.30  Ideal     D     SI1   62.1   56.0    552  4.30  4.33  2.68
120     0.71  Ideal     D     SI2   62.3   56.0   2762  5.73  5.69  3.56
132     0.71  Ideal     D     SI1   61.9   59.0   2764  5.69  5.72  3.53
144     0.71  Ideal     D     SI2   61.6   55.0   2767  5.74  5.76  3.54
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
53854   0.51  Ideal     D    VVS2   61.7   56.0   2742  5.16  5.14  3.18
53855   0.51  Ideal     D    VVS2   61.3   57.0   2742  5.17  5.14  3.16
53884   0.81  Ideal     D     SI1   61.5   57.0   2748  6.00  6.03  3.70
53935   0.72  Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53939   0.75  Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[2834 rows x 10 columns]

4. Calculate the correlation matrix for 'carat', 'depth', 'table', and 'price' columns.

In [5]:
correlation_matrix = diamonds_df[['carat', 'depth', 'table', 'price']].corr()
print("\nCorrelation matrix:")
print(correlation_matrix)

Correlation matrix:
          carat     depth     table     price
carat  1.000000  0.028224  0.181618  0.921591
depth  0.028224  1.000000 -0.295779 -0.010647
table  0.181618 -0.295779  1.000000  0.127134
price  0.921591 -0.010647  0.127134  1.000000

5. For each clarity grade of diamonds, find the mean, median, minimum, and maximum 'carat'.

In [6]:
clarity_carat_stats = diamonds_df.groupby('clarity')['carat'].agg(['mean', 'median', 'min', 'max'])
print("\nCarat statistics for each clarity grade of diamonds:")
print(clarity_carat_stats)

Carat statistics for each clarity grade of diamonds:
             mean  median   min   max
clarity
IF       0.505123    0.35  0.23  2.29
VVS1     0.503321    0.39  0.23  2.31
VVS2     0.596202    0.44  0.23  2.07
VS1      0.727158    0.57  0.23  2.59
VS2      0.763935    0.63  0.20  3.51
SI1      0.850482    0.76  0.21  2.57
SI2      1.077648    1.01  0.20  3.04
I1       1.283846    1.12  0.30  5.01

6. Replace any missing values in the 'depth' column with the mean value of that column.

In [7]:
mean_depth = diamonds_df['depth'].mean()
diamonds_df['depth'].fillna(mean_depth, inplace=True)

7. Create a new column in the DataFrame called 'volume', which is the product of 'x', 'y', and 'z' columns.

In [8]:
diamonds_df['volume'] = diamonds_df['x'] * diamonds_df['y'] * diamonds_df['z']

8. Group the DataFrame by 'cut' and 'color' and calculate the average price and carat for each group.

In [9]:
grouped_stats = diamonds_df.groupby(['cut', 'color']).agg({'price': 'mean', 'carat': 'mean'})
print("\nAverage price and carat for each group (cut and color):")
print(grouped_stats)

Average price and carat for each group (cut and color):
                       price     carat
cut       color
Ideal     D      2629.094566  0.565766
          E      2597.550090  0.578401
          F      3374.939362  0.655829
          G      3720.706388  0.700715
          H      3889.334831  0.799525
          I      4451.970377  0.913029
          J      4918.186384  1.063594
Premium   D      3631.292576  0.721547
          E      3538.914420  0.717745
          F      4324.890176  0.827036
          G      4500.742134  0.841488
          H      5216.706780  1.016449
          I      5946.180672  1.144937
          J      6294.591584  1.293094
Very Good D      3470.467284  0.696424
          E      3214.652083  0.676317
          F      3778.820240  0.740961
          G      3872.753806  0.766799
          H      4535.390351  0.915948
          I      5255.879568  1.046952
          J      5103.513274  1.133215
Good      D      3405.382175  0.744517
          E      3423.644159  0.745134
          F      3495.750275  0.775930
          G      4123.482204  0.850896
          H      4276.254986  0.914729
          I      5078.532567  1.057222
          J      4574.172638  1.099544
Fair      D      4291.061350  0.920123
          E      3682.312500  0.856607
          F      3827.003205  0.904712
          G      4239.254777  1.023822
          H      5135.683168  1.219175
          I      4685.445714  1.198057
          J      4975.655462  1.341176

9. Calculate the total count of diamonds for each 'cut' and 'clarity' combination.

In [10]:
diamonds_count_by_cut_clarity = diamonds_df.groupby(['cut', 'clarity']).size().reset_index(name='count')
print("\nTotal count of diamonds for each 'cut' and 'clarity' combination:")
print(diamonds_count_by_cut_clarity)

Total count of diamonds for each 'cut' and 'clarity' combination:
          cut clarity  count
0       Ideal      IF   1212
1       Ideal    VVS1   2047
2       Ideal    VVS2   2606
3       Ideal     VS1   3589
4       Ideal     VS2   5071
5       Ideal     SI1   4282
6       Ideal     SI2   2598
7       Ideal      I1    146
8     Premium      IF    230
9     Premium    VVS1    616
10    Premium    VVS2    870
11    Premium     VS1   1989
12    Premium     VS2   3357
13    Premium     SI1   3575
14    Premium     SI2   2949
15    Premium      I1    205
16  Very Good      IF    268
17  Very Good    VVS1    789
18  Very Good    VVS2   1235
19  Very Good     VS1   1775
20  Very Good     VS2   2591
21  Very Good     SI1   3240
22  Very Good     SI2   2100
23  Very Good      I1     84
24       Good      IF     71
25       Good    VVS1    186
26       Good    VVS2    286
27       Good     VS1    648
28       Good     VS2    978
29       Good     SI1   1560
30       Good     SI2   1081
31       Good      I1     96
32       Fair      IF      9
33       Fair    VVS1     17
34       Fair    VVS2     69
35       Fair     VS1    170
36       Fair     VS2    261
37       Fair     SI1    408
38       Fair     SI2    466
39       Fair      I1    210